<div class="list-group col-lg-3 col-md-4 p-2">

    <a href="/userpanel" class="list-group-item list-group-item-action">
        مشاهده حساب کابری
    </a>
    <a href="/userpanel/editprofile" class="list-group-item list-group-item-action">ویرایش حساب کاربری</a>
    <a href="/userpanel/ChangePassword" class="list-group-item list-group-item-action">تغییر رمز عبور</a>
    <a href="/Logout" class="list-group-item list-group-item-action">خروج از حساب کاربری</a>
</div>