@model Cakeshop.DataLayer.Entities.User.User

<div style="direction: rtl; padding: 20px">
    <h2>@Model.UserName عزیز !</h2>
    <p>با تشکر از ثبت نام شما ، جهت فعالیت باید حساب کاربری خود را فعال کنید</p>
    <p>
        <a href="https://foroghefarda.ir/Account/ActiveAccount/@Model.ActiveCode">فعالسازی حساب کاربری</a>
    </p>

</div>
