<!DOCTYPE html>
<html lang="en">
<head>
    <title>فروغ فردا | @ViewData["Title"]</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <partial name="_Styles" />

</head>
<body class="goto-here">
    <!--Start Nav-->
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="/">فروغ فردا</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                    aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> منو
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="/" class="nav-link">خانه</a></li>
                    <li class="nav-item"><a href="/product" class="nav-link">محصولات</a></li>
                </ul>
                <hr color="green">
                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="navbar-nav">
                        <li class=" nav-item">
                            <a class="link" href="/Logout">خروج</a>/
                            <a href="/UserPanel/MyOrders/ShowOrderDetails" class="link"><span class="icon-shopping_cart"></span>سبد خرید</a>/
                            <a class="link" href="/UserPanel">@User.Identity.Name</a>
                        </li>

                    </ul>
                }
                else
                {
                    <ul class="navbar-nav">
                        <li class=" nav-item">
                            <a class="link" href="/login">ورود</a>/
                            <a class="link" href="/Register">عضویت</a>
                        </li>
                    </ul>
                }

            </div>
        </div>
    </nav>

    <!-- END nav -->
    @RenderBody()
    <!--Start Footer-->
    <partial name="_Footer" />
    <!--End Footer-->
    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen">
        <svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                    stroke="#F96D00" />
        </svg>
    </div>

    <partial name="_Scripts" />
    @RenderSection("Scripts", false)
</body>
</html>
