
<footer class="ftco-footer ftco-section bg-colorfooter">
    <div class="container">
        <div class="row">
            <div class="mouse">
                <a href="#" class="mouse-icon">
                    <div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
                </a>
            </div>
        </div>
        <hr>
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-5">
                    <h2 class="ftco-heading-2">منو</h2>
                    <hr>
                    <ul class="list-unstyled">
                        <li><a href="/" class="py-2 d-block">صفحه اصلی</a></li>
                        <li><a href="/product" class="py-2 d-block">محصولات</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">اطلاعات</h2>
                    <hr>
                    <div class="block-23 mb-3">
                        <ul>
                            <li>
                                <span class="icon icon-map-marker"></span><span class="text">
                                    ایران-تهران-میدان خراسان
                                </span>
                            </li>
                            <br />
                            <li>

                                <span class="icon icon-phone"></span><span class="text">0936 003 8462</span>

                            </li>
                            <br />
                            <li>

                                <span class="icon icon-envelope"></span><span class="text">Foroghefarda2020@gmail.com</span>

                            </li>
                            <br />
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>