@model Cakeshop.Core.DTOs.Users.ChangePasswordViewModel
@{
    ViewData["Title"] = "تغییر کلمه عبور";
}

<section class="ftco-section bg-light">
    <div class="container row">

        <partial name="_SideBar" />
        <div class="col-lg-9 col-md-8 p-2 bg-white card">
            <p class="text-success text-lg-right">تغییر کلمه عبور</p>
            <form asp-action="ChangePassword" method="post" class="">
                @if (ViewBag.IsSuccess != null)
                {
                    <div class="alert alert-success">
                        کلمه عبور شما با موفقیت ویرایش شد
                    </div>
                }
    
                <div class="input-group col-lg-7 col-md-10 col-sm-10 mb-1 p-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text icon-key" id="basic-addon1"></span>
                    </div>
                    <input asp-for="OldPassword" type="password" class="form-control" placeholder="کلمه عبور فعلی" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <span asp-validation-for="OldPassword" class="text-danger mr-2"></span>

                <div class="input-group col-lg-7 col-md-10 col-sm-10 mb-1 p-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text icon-key" id="basic-addon1"></span>
                    </div>
                    <input asp-for="Password" type="password" class="form-control" placeholder="کلمه عبور جدید" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <span asp-validation-for="Password" class="text-danger mr-2"></span>

                <div class="input-group col-lg-7 col-md-10 col-sm-10 mb-1 p-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text icon-key" id="basic-addon1"></span>
                    </div>
                    <input asp-for="RePassword" type="password" class="form-control" placeholder="تکرار کلمه عبور جدید" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <span asp-validation-for="RePassword" class="text-danger mr-2"></span>
                
                <br />
                <br />

                <input class="btn btn-info col-lg-7" type="submit" value="تغییر کلمه عبور" />
            </form>
        </div>
    </div>
</section>



