@model Cakeshop.DataLayer.Entities.User.UserLocation
@{
    ViewData["Title"] = "ثبت اطلاعات محل تحویل";
}

<section class="ftco-section">
    <div class="container">
        <div class="justify-content-center">
            <div class="col-xl-10 ftco-animate fadeInUp ftco-animated">
                <form asp-action="GetUserLocation" method="post" class="billing-form bg-white">

                    <h3 class="mb-4 billing-heading p-2">جزئیات صورتحساب</h3>
                    <div class="p-2">


                        <div class="form-group col-md-10">
                            <label for="exampleFormControlTextarea1">آدرس کامل</label>
                            <textarea asp-for="Address" class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                            <span asp-validation-for="Address"></span>
                        </div>


                        <div class="form-group col-md-7">
                            <label for="postcodezip">کد پستی </label>
                            <input asp-for="PostalCode" type="text" class="form-control" placeholder="">
                            <span asp-validation-for="PostalCode"></span>
                        </div>


                        <div class="form-group col-md-7">
                            <label for="phone">شماره تماس</label>
                            <input asp-for="Phone" type="text" class="form-control" placeholder="">
                            <span asp-validation-for="Phone"></span>
                        </div>

                        <div class="w-100"></div>

                    </div>
                    <div class="col-md-12 d-flex mb-5 p-3">
                        <div class="cart-detail cart-total p-3 p-md-4">
                            <h3 class="billing-heading mb-4"> جمع کل صورتحساب: @ViewData["OrderSum"]</h3>

                            <div>
                                <input type="submit" class="btn btn-block btn-outline-success" value="ارسال سفارش">
                            </div>
                        </div>

                    </div>
                </form><!-- END -->
            </div>
        </div>
    </div>
</section>

